@import './media.css';

/* USER VARIABLES SECTION */

:root {
  --accent: #1c327a;
  --text: #333;
  --regular-text: 16px;
  --lineheight: 1.65;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0.625rem;
}
.row,
.row > * {
  --bs-gutter-x: 1.25rem;
}

/* FONTS LOAD SECTION */

@font-face {
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: italic;
}

/* GENERAL CSS SETTINGS */

::placeholder {
  color: #666;
}
::selection {
  background-color: var(--accent);
  color: #fff;
}
input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background: rgb(251, 254, 255);
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: var(--accent);
}

/* USER STYLES */

.image {
  max-width: 100%;
  margin-bottom: var(--bs-gutter-x);
  border-radius: 4px;
}

.accent {
  color: var(--accent);
  font-weight: bold;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

.title {
  font-size: 1.5rem;
}

/* HEADER */

.header {
  margin: 32px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo .header__logo-title {
  margin-left: 8px;
}

.header__logo .header__logo-title span {
  display: block;
  line-height: 1.5;
  font-size: 1.4rem;
}

.header__logo .header__logo-title span:nth-child(2) {
  font-size: 14px;
}

.header__contacts .contact__info {
  font-size: 0.8rem;
}

.header__contacts .contact__info:nth-child(1) {
  margin-bottom: 4px;
}

.header__contacts .contact__info .icon {
  margin-right: 4px;
}

/* PAGE_NAVIGATION */

.navigation__section {
  padding: 16px 0;
}

.navigation__section .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__section .navigation .navigation__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation__section .navigation .navigation__list .navigation__list-item {
  margin: 0 16px;
  position: relative;
  text-transform: uppercase;
}

.navigation__list-item .active {
  color: #1c327a;
}

.navigation__list-item .active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #1c327a;
}

.button {
  padding: 8px 16px;
  background-color: var(--accent);
  color: #fff;
  border-radius: 8px;
  text-transform: none;
  white-space: nowrap;
}

.button:hover {
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* SEARCH */
.search__block {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.search__field {
  border: none;
  padding: 8px 16px;
  width: 80%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* MAIN_CONTENT */

.page__title {
  background-color: #187dc7;
  padding: 96px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page__title:hover .overlay {
  background-color: rgba(5, 5, 5, 0);
}

.slider {
  margin: 32px 0;
}

.swiper {
  width: 100vw;
  height: auto;
  max-height: calc(100vh - 280px);
}

.slide {
  display: block;
  width: 100%;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: bottom;
}

/* PAGE_INFO */

.company__info {
  margin: 64px 0;
}

.company__info-title {
  font-weight: bold;
}

.company__info-description {
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin: 16px 0;
}

.company__info-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company__info-item {
  display: flex;
  overflow: hidden;
  background: #187dc7;
  border-radius: 8px;
  margin-bottom: 16px;
}

.company__info-item.green {
  background: #18c73f;
}

.company__info-item.green .item__info-wrapper {
  background: #17db42;
}

.company__info-item .item__img {
  display: flex;
  align-items: center;
  padding: 24px;
}

.company__info-item .item__img svg {
  width: 100px;
  height: 100px;
}

.company__info-item .item__info-wrapper {
  background: #2087d1;
  padding: 24px 24px 24px 60px;
  flex: 1;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  color: #fff;
  text-align: center;
}

.company__info-item .item__info-wrapper .item__title {
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: bold;
}

/* PAGE_NEWS */

.last-news__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-weight: medium;
}

.last-news__item {
  transition: all 0.25s ease;
}

.last-news__item-image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  width: auto;
  height: 200px;
}

.last-news__item-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.last-news__item-image .news__date {
  position: absolute;
  color: #fff;
  top: 16px;
  left: 0;
  background: rgba(5, 5, 5, 0.8);
  padding: 0 8px;
  z-index: 9;
  border-radius: 0 8px 8px 0;
}

.last-news__item:hover .last-news__item-image .overlay {
  opacity: 0.2;
}

.last-news__item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.last-news__item-description {
  padding: 4px;
  text-align: justify;
}

/*FORM */

.meters {
  margin: 64px 0;
}

.meters__title {
  margin-bottom: 16px;
  font-weight: bold;
}

.meters__info {
  padding: 24px;
  background-color: #187dc7;
  border-radius: 8px;
  height: 100%;
  text-align: center;
  color: #fff;
}

.meters__info a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5f5f5;
}

.meters__form {
  background-color: #18c73f;
  width: 100%;
  padding: 16px 16px;
  border-radius: 8px;
}

.meters__form .input__group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.meters__form .input__group-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 16px 16px 16px;
  color: #f5f5f5;
}

.meters__form .input__group-item label {
  margin-bottom: 4px;
}

.meters__form .input__group-item input {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
}

.meters__form .add__field {
  display: flex;
  justify-content: end;
  margin: 0 16px;
}

.meters__form .add__field .add__button {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.meters__form .form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.meters__form .form__button .button {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: #187dc7;
  border-radius: 8px;
  color: #fff;
}

/*TarifsPage*/

.tarifs__table {
  margin: 64px 0;
}

.table {
  width: 100%;
  border-spacing: 2px;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  background-color: #fff;

  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.table tr {
  width: auto;
  border-bottom: 1px solid #f5f5f5;
}

.table .table__label {
  width: 33%;
  font-weight: 600;
}

.table .td {
  padding: 8px 16px;
}

.table .table__title {
  margin-bottom: 8px;
}

.table .row-name {
  color: #1c327a;
}

.contacts__info {
  margin: 32px 0;
}

.contacts__info-item {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 16px;
  height: 100%;
  background-color: #fff;
}

.contacts__info-item .contacts__info-item__title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.contacts__info-item .contacts__info-item__body .contacts__info-item__row {
  display: flex;
  margin-bottom: 8px;
}

.contacts__info-item .contacts__info-item__body .contacts__info-item__col {
  flex: 1 0 50%;
}

.news__row {
  display: flex;
  margin: 32px 0;
  flex-wrap: wrap;
}

.news__row .news__item {
  width: calc(50% - 16px);
  margin: 0 8px 16px 8px;
  transition: all 0.25s ease;
}

.news__row .news__item:nth-child(3n) {
  width: 100%;
}

.news__row .news__item-image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  min-width: 320px;
  width: auto;
  height: 260px;
}

.news__row .news__item-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.news__row .news__item-image .news__date {
  position: absolute;
  color: #fff;
  top: 16px;
  left: 0;
  background: rgba(5, 5, 5, 0.7);
  padding: 4px 8px;
  z-index: 9;
  border-radius: 0 8px 8px 0;
}

.news__row .news__item:hover .news__item-image .overlay {
  opacity: 0.2;
}

.news__row .news__item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.news__row .news__item-description {
  padding: 4px;
  text-align: justify;
}

.current__news-block {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 32px 0;
}

.current__news-block img {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
  object-position: center;
}

.current__news-block p {
  text-align: justify;
}

.current__news-block .news__date {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #666;
}

.about__info-col {
  margin: 32px 0;
}

.about__info table tbody {
  width: 100%;
}

.about__info-row {
  display: flex;
  width: 100%;
}

.about__info-col {
  flex: 1;
}

.about__info-col .info__body {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.about__info-col .table .table__label {
  width: 40%;
}

.consumers__info {
  margin: 32px 0;
}

.consumers__info .info__nav .active {
  color: #1c327a;
  border-left: 2px solid #1c327a;
  padding-left: 8px;
}

.info__nav {
  padding: 16px 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.info__nav li {
  margin-bottom: 8px;
}

.consumers__info .info__img {
  height: 280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.consumers__info .info__img .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.307);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.consumers__info .info__img .info__title {
  z-index: 9;
  color: #ffffff;
  font-size: 2rem;
}

.consumers__info .info__block {
  margin-top: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.consumers__info .info__block .p {
  font-size: 1.2em;
}

.consumers__info .info__block .info__block-list__item {
  list-style-type: disc;
}

.footer {
  color: #fff;
}

.footer__top {
  background-color: var(--accent);
  padding: 24px 0;
}

.footer__top .footer__subtitle {
  font-weight: medium;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.footer__top .footer__subtitle a {
  color: #fff;
}

.footer__top .footer__menu {
  padding: 0;
}

.footer__top .footer__menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.footer__top .footer__menu-item a {
  color: #f0f0f0;
}

.footer__top .footer__menu .footer__subtitle {
  margin: 0;
}

.footer__top .footer__nav {
  padding: 0 16px;
}

.footer__top .flex-end {
  display: flex;
  justify-content: end;
}

.footer__bottom {
  background-color: #1c327a;
  border-top: 1px solid #666;
}

.footer__bottom-info {
  display: flex;
  margin: 0;
  padding: 8px;
  font-size: 14px;
  justify-content: center;
}

.footer__bottom-info .info__item {
  margin: 0 8px;
  color: #fff;
}

.footer__bottom-info .info__item a {
  color: #fff;
}

.feedback__form {
  margin-top: 16px;
  background-color: #187dc7;
  padding: 24px;
  border-radius: 8px;
}

.feedback__form .input__group {
  display: flex;
}
.feedback__form .input__group-item {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  width: 100%;
  margin-bottom: 8px;
}

.feedback__form .input__group-item label {
  color: #f5f5f5;
  margin-bottom: 4px;
}

.feedback__form .input__group-item input {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 2px 8px;
  min-width: 320px;
}

.feedback__form .input__group-item textarea {
  border-radius: 8px;
  margin-top: 16px;
  padding: 8px;
}

.feedback__form .form__button {
  display: flex;
  justify-content: center;
}

.feedback__form .form__button .button {
  outline: none;
  border: none;
  padding: 8px 32px;
}

.feedback__form .form__agree {
  display: flex;
  padding: 8px;
}
/* .loader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.blob {
  background: #187dc7;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #187dc7;
  margin: 10px;
  height: 50px;
  width: 50px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
} */
